html{
  scroll-behavior: smooth;
}
ul{
  list-style: none;
}
li{
  float: right;
  padding-right: 30px;
}
.header{
  font-family: 'Caveat', cursive;
  opacity: 0.7;
  letter-spacing: 1px;
  padding-top: 15px;
  padding-left:100px ;
}
.header-menu{
  font-family: 'Caveat', cursive;
  text-align: right;
  padding-right: 100px;
  padding-bottom: 20px;
}
.alert{
  margin-top:40px;
}
.top-main img{
  opacity: 0.9;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 70px;
  object-fit: cover;
  object-position: 40%;
}
.slide {
  position:relative;
  height:650px;
}
.slide img {
	position:absolute;
	opacity:0;
	transition:all 1s ease-in-out;
	height:100%;
  object-fit: cover;
  object-position: 40%;
}
.slide-var{
  display: none;
}
.profile{
  opacity: 0.9;
  font-family:Helvetica, '游ゴシック';
}
.profile2 img{
  object-position: 50%;
}
.profile-top{
  text-align: center;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  opacity: 0.7;
  letter-spacing: 1px;
  padding-top: 30px;
  padding-bottom: 15px;
}
.portfolio-app img{
  height: auto;
  width: 100%;
  border: solid 1px black;
  margin-right: 10px;
}
.portfolio-app-menu{
  padding: 40px;
}
.field{
  width:60%;
}
.contact{
  padding-bottom: 15px;
}
.contact-form{
  background-color: gray;
  width: 100%;
  margin-top:50px;
  height: 150px;
}
.contact-menu{
  padding-top:20px;
  color:white;
}
.contact-menu i{
  padding-left: 10px;
  padding-right: 10px;
  padding-top:20px;
}
.footer{
  background-color: black;
  color: white;
  height: 80px;
  text-align: center;
}
.footer p{
  padding-top: 30px;
}